<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click) = "presentActionSheet()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-button>
    </ion-buttons>

    <ion-title>dishdetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf = 'dish'>
    <img src="{{'http://localhost:3000/' + dish.image}}"/>
    <ion-card-content>
      <ion-card-title>{{dish.name}}</ion-card-title>
      <p>{{dish.description}}</p>
    </ion-card-content>
  </ion-card>
  <div [hidden] = 'dish'>
    <ion-spinner></ion-spinner>
    loading....please wait
  </div>
  <ion-row>
    <ion-col>
      <ion-button><ion-icon name ="star"></ion-icon></ion-button>
    </ion-col>
    <ion-col>
      <ion-button  class = 'ion-icon-left' clear small>

        <div>{{ numcomments }} Comments</div>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="dish">
    <ion-list-header>
      Comments
    </ion-list-header>

    <ion-item *ngFor="let comment of dish.comments" text-wrap>
      <ion-label>
      <h3> {{comment.comment}} </h3>
      <h4> {{comment.rating}} Stars</h4>

      <p>
        <span> -- {{comment.author}} {{comment.date | date }} </span>
      </p>
    </ion-label>
    </ion-item>

  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" [hidden] ='favorite'>
    <ion-fab-button (click) ='addToFavorites()'>
      <ion-icon name='heart-outline'></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="end" vertical="bottom" *ngIf ='favorite'>
    <ion-fab-button>
      <ion-icon name='heart'></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
