<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf = 'dish'>
    <img src="{{'http://localhost:3000/' + dish.image}}"/>
    <ion-card-content>
      <ion-card-title>{{dish.name}}</ion-card-title>
      <p>{{dish.description}}</p>
    </ion-card-content>
  </ion-card>
  <div [hidden] = 'dish'>
    <ion-spinner></ion-spinner>
    loading....please wait
  </div>

  <ion-card *ngIf = 'promotion'>
    <img  src="{{'http://localhost:3000/' + promotion.image}}"/>
    <ion-card-content>
      <ion-card-title>{{promotion.name}}</ion-card-title>
      <p>{{promotion.description}}</p>
    </ion-card-content>
  </ion-card>
  <div [hidden] = 'promotion'>
    <ion-spinner></ion-spinner>
    loading....please wait
  </div>

  <ion-card *ngIf = 'leader'>
    <img src="{{'http://localhost:3000/' + leader.image}}"/>
    <ion-card-content>
      <ion-card-title>{{leader.name}}</ion-card-title>
      <p>{{leader.designation}}</p>
      <p>{{leader.description}}</p>
    </ion-card-content>
  </ion-card>
  <div [hidden] = 'leader'>
    <ion-spinner></ion-spinner>
    loading....please wait
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="tertiary"><ion-icon name="mail"></ion-icon></ion-fab-button>
        <ion-fab-button color="danger"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
        <ion-fab-button color ="danger" ><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
        <ion-fab-button color ="secondary"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        <ion-fab-button color = "primary"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
        <ion-fab-button color="tertiary"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
      </ion-fab-list>

  </ion-fab>

  <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->



</ion-content>
